<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<link rel="stylesheet" href="css/main.css">
</head>
<body>
<div id="app">
	<span v-on:click="message='Text'">My text1</span><!--срабатывает при нажатии мыши-->
	<span @click="message='Text'">My text2</span><!--то же что и на стр 10-->
	<span @mouseover="message='Text'">My text3</span><!--при наведении мыши-->
	<span @mouseover="changeText">My text4</span><!--вызов метода при при наведении мыши-->
  <p>{{ message }}</p>
  <p v-bind:class="mystyleCSS"> Цвет: {{ mystyleCSS }}</p>
  <input type="text" v-on:input="mystyleCSS = $event.target.value">
</div>
<div id="app-2">
  <span v-bind:title="message">
    Наведи курсор на меня пару секунд,
    чтобы увидеть динамически связанное значение title!
  </span>
</div>
<div id="app-3">

  <span v-if="seen">Сейчас меня видно</span>
</div>
<div id="app-4">
  <ol>
    <li v-for="todo in todos">
      {{ todo.text }}
    </li>
  </ol>
</div>
<div>Commit</div>
<div>Commit2</div>
<script src = "js/main.js"></script>
</body>
</html>

<!--https://www.youtube.com/watch?v=U-Ivsm49b30-->